<ion-view view-title="Instagram" ng-hide="$state.is('tab.home.likers')">
    <ion-content class="padding">

        <div class="list card" ng-repeat = "postItem in posts">

            <div class="item item-avatar">
                <img ng-src="{{data.instagramDataStructure[0].avatar}}">
                <h3>
                    {{data.instagramDataStructure[0].username}}
                </h3>
                <p ng-if="postItem.location">
                    {{postItem.location}}
                </p>
            </div>

            <div class="item item-image">
                <img ng-src="{{postItem.imgSrc}}">
            </div>

            <a class="item item-icon assertive" href="#">
                <i ng-if="!postItem.liked" ng-click="like($index)" class="ion-ios-heart-outline"></i>
                <i ng-if="postItem.liked" ng-click="unlike($index )" class="ion-ios-heart"></i>
                <i  ng-click="comment($index)" ui-sref="tab.home.comments({postId : postItem.postId})" class="ion-ios-chatbubble-outline"></i>
                <i class="ion-ios-redo-outline"></i>
            </a>
            <div style="font-size:13px; padding-left:7px;" class="item item-divider">
                <i ng-click="likersFunction($index);" ui-sref="tab.home.likers({postId : postItem.postId})" class="icon ion-ios-heart custom-icon"></i>{{postItem.likes.length}} Likes
            </div>

            <div style="padding: 5px 0px 5px 8px; font-size:13px;">
                <span>
                    <strong>
                        {{data.instagramDataStructure[0].username}}
                    </strong>
                    {{postItem.caption}}
                </span> <!--Caption -->

                <ul ng-repeat="comment in postItem.comments">
                    <li>
                        <strong>
                            {{comment.user}}
                        </strong>
                        <span>
                            <a ui-sref="tab.home.comments({postId : postItem.postId})" ng-click="disableComment(postItem.postId)">
                                {{comment.commentText}}
                            </a>
                        </span>
                    </li>
                </ul> <!--comments -->
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-nav-view></ion-nav-view>
    