<ion-view ng-hide="$state.is('tab.home')" view-title="{{likers}}">
    <ion-content>
        <div ng-repeat="like in likesArray">
            <div class="list">
                <a class="item item-avatar" href="#">
                    <img ng-src="{{like.avatar}}">
                    <h2>{{like.user}}</h2>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>