<ion-view ng-hide="$state.is('tab.home')" view-title="{{comments}}">
    <ion-content>
        <div ng-repeat="comment in commentsArray">
            <div class="list">
                <a class="item item-avatar" href="#">
                    <img ng-src="{{comment.avatar}}">
                    <h2>{{comment.user}}</h2>
                    <p>{{comment.commentText}}</p>
                </a>
            </div>
        </div>
        <label ng-if="$parent.commentable == true" class="item item-input">
            <input type="text" ng-model="myComment.text" placeholder="Add a comment ..." ng-keypress="submit($event)">
        </label>
    </ion-content>
</ion-view>