<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab icon-off="ion-social-instagram-outline" icon-on="ion-social-instagram" href="#/tab/uploadImage">
        <ion-nav-view name="tab-uploadImage"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
