<ion-view view-title="Instagram">
    <ion-content>
      <input class="bottom-marg-15" type="file" name="file" file="file">
        <button class="button button-small button-full button-positive" ng-disabled="file.size&amp;&amp;false || uploadProgress&gt;0" ng-click="upload()" ng-cloak="">Upload</button>
        <img class="fit" ng-if="uploadUri" ng-src="">
        <a ng-href="" ng-bind="uploadUri"></a>
    </ion-content>
</ion-view>