/* Empty. Add your own CSS if you like */
.ion-ios-home:before, .ion-ios-home-outline:before, .ion-ios-search:before, .ion-ios-search-strong:before, .ion-social-instagram-outline:before, .ion-social-instagram:before, .ion-android-favorite-outline:before, .ion-android-favorite:before, .ion-android-person:before {
    margin-top:7px;
}

.ion-ios-heart-outline:before, .ion-ios-heart:before, .ion-ios-chatbubble-outline:before, .ion-ios-redo-outline {
    padding-right: 10px;
    font-size: 25px;
    color: black;

}

.ion-ios-heart:before {
    color:red;
}

i.icon.ion-ios-heart.custom-icon:before {
    font-size: 13px;
    color:black;
}

a {
    text-decoration: none;
    color:black;
}